<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user-profile-layout}">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <title>Change Password</title>
</head>
<body layout:fragment="userProfile">
<div class="col-span-12 lg:col-span-8 xxl:col-span-9">
    <div class="intro-y box lg:mt-5">
        <div class="flex items-center p-5 border-b border-gray-200">
            <h2 class="font-medium text-base mr-auto">
                Change Password
            </h2>
        </div>
        <form class="p-5" action="/user/profile/password/update" method="post" th:object="${request}">
            <div>
                <label for="oldPassword">Old Password</label>
                <input id="oldPassword" type="password" class="input w-full border mt-2"
                       placeholder="Enter current password"
                       th:field="*{oldPassword}" required>
                <p class="text-xs text-gray-600 mt-2 text-theme-6"
                   th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
            </div>
            <div class="mt-3">
                <label for="newPassword">New Password</label>
                <input id="newPassword" type="password" class="input w-full border mt-2"
                       placeholder="Enter new password"
                       th:field="*{newPassword}" required>
                <p class="text-xs text-gray-600 mt-2 text-theme-6"
                   th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
            </div>
            <div class="mt-3">
                <label for="confirmPassword">Confirm New Password</label>
                <input id="confirmPassword" type="password" class="input w-full border mt-2"
                       placeholder="Rewrite new password"
                       th:field="*{confirmPassword}" required>
                <p class="text-xs text-gray-600 mt-2 text-theme-6"
                   th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></p>
            </div>
            <input type="hidden" th:field="*{email}" required>
            <button type="submit" class="button bg-theme-1 text-white mt-4">Change Password</button>
        </form>
    </div>
</div>
<script th:src="@{/dist/js/app.js}"></script>
<script th:src="@{/dist/js/validation.js}"></script>
<div class="modal overflow-y-auto show" id="success-modal-preview"
     th:if="${successfulModal}"
     style="margin-top: 0; margin-left: 0; padding-left: 0; z-index: 51">
    <div class="modal__content">
        <div class="p-5 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-check-circle w-16 h-16 text-theme-9 mx-auto mt-3">
                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                <polyline points="22 4 12 14.01 9 11.01"></polyline>
            </svg>
            <div class="text-3xl mt-5" th:text="${modalTitle}"></div>
            <div class="text-gray-600 mt-2" th:text="${modalMessage}"></div>
        </div>
        <div class="px-5 pb-8 text-center">
            <button type="button" data-dismiss="modal" class="button w-24 bg-theme-1 text-white">Ok</button>
        </div>
    </div>
</div>
</body>
</html>